body {
  background-color: floralwhite;
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.main-title {
  background: url(images/image_background_title.jpg);
  background-size: 500px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.aboutme-title {
  background: url(images/image_background_aboutme.jpg);
  background-size: 500px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.neuralnetworks-title {
  background: url(images/image_background_neuralnetwork.jpg);
  background-size: 250px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.videogame-title {
  background: url(images/image_background_videogame.jpg);
  background-size: 250px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.mywebsite-title {
  background: url(images/image_background_mywebsite.jpg);
  background-size: 300px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.statisticalconsulting-title {
  background: url(images/image_background_statisticalconsulting.jpg);
  background-size: 400px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.teaching-title {
  background: url(images/image_background_teaching.jpg);
  background-size: 500px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.linearmodeling-title {
  background: url(images/image_background_linearmodeling.jpg);
  background-size: 500px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 130px;
  font-family: Cambria,Georgia,serif; 
  width: 1500px;
  margin: 30px auto;
  text-align: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 80%;
  margin-left: 10px;
  margin-top: 25px;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: darkred;
}
